<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Wordcount by HS</title>
    </head>
    <body>
        <div style='width: 90%; margin-left: auto; margin-right: auto;'>
            <a href='{%url "home"%}' style='text-decoration: none;'>
                <h1 style='background-color: black; color: white; width:100%; padding:4px 0px;'>&nbsp;Word Count</h1>
            </a>
            <h3 style='text-align: right;'>by SNULION 7th 한현상</h3>
            <div style='text-align: center'>
                <img src='http://mblogthumb1.phinf.naver.net/20160222_176/elysiastory_1456069721112kV1LC_JPEG/RobotTakeOverBS.jpg?type=w800' width='300px' height='auto' alt='AI'>
                <p>
                    "wordcount는 글을 공백으로 split하여 list로 만들고 각각의 word를 count한 뒤 dictionary화하여 제공하는 스마트한 서비스입니다."
                </p>
                <div style='
                background-color: grey; 
                border-radius: 8px; 
                padding: 1px; 
                width: 200px; 
                text-align: center;
                text-decoration: none;
                margin: 0 auto;
                padding: 5px;
                '>
                    <a href='{%url "home"%}' style='text-decoration: none; color: white; font-weight: medium;'>
                        알겠고, 다시 돌아갈래요.
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>