@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  background-color: rgb(250, 250, 250);
  letter-spacing: -0.3px;
  font-family: "Noto Sans KR", sans-serif !important;
  margin: 0;
}

header {
  width: 100% !important;
  &.fix {
    position: fixed;
    top: 0;
    z-index: 2;
  }
}

input {
  outline: none;
  padding: 0;
}

h2 {
  font-weight: 900 !important;
  font-size: 24px !important;
  color: black;
  margin: 0 !important;
  line-height: 30px !important;
  font-family: "Noto Sans KR", sans-serif !important;
}

strong {
  font-weight: 800;
}

a {
  text-decoration: none;
  color: black;
  font-weight: inherit !important;
}

div > a,
span > a {
  text-decoration: none;
  color: black;
}

.hr-scroll {
  white-space: nowrap;
  overflow: overlay;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.hr-scroll::-webkit-scrollbar {
  display: none;
}

/* delete button's default styling */
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  cursor: pointer;
  outline: inherit;
  border: none;
}

label,
label > div:hover {
  cursor: pointer;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container-full {
  width: 100vw;
  height: 100vh;
}

.relative {
  position: relative;
}

.flex {
  display: flex !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
}

.flex-center {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.flex-end {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  justify-content: flex-end;
  align-items: center;
}

.flex-start {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
}

.v-center {
  vertical-align: middle;
}

.inline-flex {
  display: inline-flex;
}

.invisible,
.none {
  display: none !important;
}

.letter-space {
  letter-spacing: 0;
}

.m-0 {
  margin: 0 !important;
}

.m-auto {
  margin: auto;
}

.mtb-auto {
  margin: auto 0;
}

.content-title {
  font-weight: 900 !important;
  font-size: 24px !important;
  color: black;
  margin: 0 !important;
  line-height: 30px !important;
  font-family: "Noto Sans KR", sans-serif !important;
}

.abs-left {
  position: absolute;
  left: 0;
}

.abs-right {
  position: absolute;
  right: 0;
}

.abs-right--10 {
  position: absolute;
  right: -10px;
}

.ellipsis {
  width: 100%;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal !important;
}

.ellipsis-span {
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal !important;
}

.mt--2 {
  margin-top: -8px;
}

.mt--1 {
  margin-top: -4px;
}

.mt-1 {
  margin-top: 4px;
}

.mtb-05 {
  margin: 2px 0;
}

.mtb-1 {
  margin: 4px 0 !important;
}

.mt-2 {
  margin-top: 8px !important;
}

.mt-3 {
  margin-top: 12px !important;
}

.mt-4 {
  margin-top: 16px !important;
}

.mt-6 {
  margin-top: 24px !important;
}

.mt-7 {
  margin-top: 28px !important;
}

.mt-8 {
  margin-top: 32px !important;
}

.mt-9 {
  margin-top: 36px !important;
}

.mt-16 {
  margin-top: 64px !important;
}

.mb-1 {
  margin-bottom: 4px;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-3 {
  margin-bottom: 12px;
}

.mb-20px {
  margin-bottom: 20px;
}

.mr-1perc {
  margin-right: 1%;
}

.ml-1perc {
  margin-left: 1%;
}

.ml--1 {
  margin-left: -4px !important;
}

.ml-1 {
  margin-left: 4px;
}

.ml-2 {
  margin-left: 8px;
}

.ml-3 {
  margin-left: 12px;
}

.ml-auto {
  margin-left: auto !important;
}

.h-100 {
  height: 100% !important;
}

.vh-80 {
  height: 80vh !important;
}

.w-100 {
  width: 100% !important;
}

.w-80 {
  width: 80% !important;
}

.font-11 {
  font-size: 11px;
  font-family: "Noto Sans KR", sans-serif !important;
}

.font-12 {
  font-size: 12px;
  font-family: "Noto Sans KR", sans-serif !important;
}

.font-13 {
  font-size: 13px;
  font-family: "Noto Sans KR", sans-serif !important;
}

.font-14 {
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif !important;
}

.font-15 {
  font-size: 15px;
  font-family: "Noto Sans KR", sans-serif !important;
}

.font-16 {
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif !important;
}

.font-25 {
  font-size: 25px !important;
}

.font-28 {
  font-size: 28px !important;
}

.font-light {
  font-weight: 400 !important;
  font-family: "Noto Sans KR", sans-serif !important;
}

.font-midlight {
  font-weight: 500 !important;
  font-family: "Noto Sans KR", sans-serif !important;
}

.font-mid {
  font-weight: 600 !important;
  font-family: "Noto Sans KR", sans-serif !important;
}

.font-bold {
  font-weight: 800 !important;
  font-family: "Noto Sans KR", sans-serif !important;
}

.font-white {
  color: white;
  font-family: "Noto Sans KR", sans-serif !important;
}

.font-lightgrey {
  color: lightgrey;
  font-family: "Noto Sans KR", sans-serif !important;
}

.font-grey {
  color: grey;
  font-family: "Noto Sans KR", sans-serif !important;
}

.font-black {
  color: black !important;
  font-family: "Noto Sans KR", sans-serif !important;
}

.font-red {
  color: red !important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.link-black {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
}

.link-light-black {
  color: #666;
}

.link-grey {
  color: #9b9b9b;
}

.link-white {
  color: #fff;
}

.bg-white {
  background-color: white !important;
}

.bg-grey {
  background-color: grey !important;
}

.bg-lightgrey {
  background-color: lightgrey !important;
}

.bg-black {
  background-color: black !important;
}

/* MDL custom area */

.mdl-layout__container {
}

.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}

.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored {
  position: fixed;
  z-index: 100;
  bottom: 40px;
  right: 20px;
}

.mdl-card {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  min-height: 200px;
  overflow: hidden;
  width: 330px;
  z-index: 1;
  position: relative;
  background: #fff;
  border-radius: 2px;
  box-sizing: border-box;
}

.mdl-textfield {
  &.is-upgraded {
    display: flex;
    // display: inline-block;
    position: relative;
    font-size: 16px;
    box-sizing: border-box;
    // width: 300px;
    max-width: 100%;
    margin: 20px 0 0;

    &.mdl-textfield--expandable {
      min-width: 32px;
      width: auto;
      min-height: 32px;
    }
  }
}

.mdl-button {
  background: 0 0;
  border: none;
  border-radius: 2px;
  color: #000;
  position: relative;
  height: 36px;
  margin: 0;
  min-width: 64px;
  padding: 0 16px;
  display: inline-block;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
    background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;

  &.mdl-button--icon {
    border-radius: 50%;
    font-size: 24px;
    height: 32px;
    margin-left: 0;
    margin-right: 0;
    min-width: 32px;
    width: 32px;
    padding: 0;
    overflow: hidden;
    color: inherit;
    line-height: normal;
  }
}

.mdl-layout {
  &.mdl-layout--fixed-header {
    .mdl-layout__header {
      -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
      flex-shrink: 0;

      .mdl-layout__header-row {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        box-sizing: border-box;
        -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
        align-self: stretch;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        height: 64px;
        margin: 0;
        padding: 0 7% 0 calc(7% + 32px);
      }
    }
  }
}

.mdl-layout__content {
  -ms-flex: 0 1 auto;
  position: relative;
  // display: inline-block;
  // overflow-y: auto;
  // overflow-x: hidden;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
}

.mdl-layout-spacer {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.mdl-button--raised {
  background: rgba(158, 158, 158, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.mdl-tooltip {
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: top center;
  transform-origin: top center;
  z-index: 999;
  background: rgba(97, 97, 97, 0.9);
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
  max-width: 170px;
  position: fixed;
  top: -500px;
  left: -500px;
  padding: 8px;
  text-align: center;

  &.mdl-tooltip--large {
    line-height: 14px;
    font-size: 14px;
    padding: 16px;
  }
}
