.filebox .upload-display { display: inline-block; margin-right: 5px; margin-bottom: 0; }
.filebox .upload-thumb-wrap { /* 추가될 이미지를 감싸는 요소 */ display: inline-block; width: 54px; padding: 2px; vertical-align: middle; border: 1px solid #ddd; border-radius: 5px; background-color: #fff; }
.filebox .upload-display img { /* 추가될 이미지 */ display: block; max-width: 100%; width: 100% \9; height: auto; }
.upload-hidden {
  display: none;
}

.toggle-comments {
    cursor: pointer;
  }

.all-comments, .comment-heart-num-hide {
  display: none;
}

#new-comments, .new-comments {
  margin-top: 3px;
}

/* test for closing more info */
/* .transp-bg {
  z-index: 2;
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  display: none;
} */

.header-shadow {
  box-shadow: 0 1px 8px 0 rgba(0,0,0,0.03), 0 -7px 2px -2px rgba(0,0,0,.2), 0 0px 0px 0 rgba(0,0,0,.12) !important;
}

.search-wrap {
  border-bottom: 1px solid lightgrey;
}

.search-input {
  width: calc(100% - 28px) !important;
  border-bottom: none !important;
}

.search-btn {
  position: absolute;
  top: 3px;
  right: -6px;
  font-size: 14px;
}

.service-title {
  padding-right: 20px;
  text-align: center;
  font-size: 20px;
}

.sidebar-profile {
  width: 100%;
  display: flex !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  align-items: center;
  margin: 10px 5px 10px 10px;
}

.sidebar-username {
  max-width: 160px;
  width: auto !important;
}
/* 
.two-tabs {
  width: 100%;
  height: 3rem;
} */
/* 
.each-tab {
  width: 100%;
  height: 100%;
  border: 1px solid lightgrey;
  padding-bottom: 1px;
} */

.each-content {
  width: 100%;
  display: inline-flex;
}

.each-content > div:hover {
  cursor: pointer;
}

.each-li {
  padding-top: 30px;
  padding-bottom: 30px;
  list-style-type: none;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.each-li.reported {
  background-color: darkgrey;
  padding: 100px 0;
  color: white;
  text-align: center;
}

.page-content-black {
  height: 160px;
  margin-bottom: -12px;
}

.page-content-two-tabs:hover {
  cursor: pointer;
}

.page-content-tab {
  width: 50%;
  font-size: 1rem;
}

.page-content-tab.on {
  margin-top: 1px;
  border-bottom: 2px solid black;
  font-weight: 600;
}

.contents {
  background-color: white;
  padding: 5px;
  margin: -5px;
  min-height: 80vh;
}

.black-creator {
  /* background-color: white; */
  padding: 5px;
  margin: -5px;
}

.contents-margin {
  width: 95%;
  margin: auto;
}

.content-img {
  border-radius: 10px !important;
}

.content-default-bg {
  background-color: lightgrey;
  opacity: 0.15;
}

.content-default-bg:hover {
  background-color: black;
}

.content-img.inner {
  border: 1px lightgrey solid;
  text-align: center;
}

.content-label {
  position: absolute;
  padding: 5px 8px;
  border-radius: 2px;
  text-align: center;
  color: white;
  z-index: 1;
  font-size: 15px;
  border-bottom-right-radius: 10px;
}

.content-result-bg {
  opacity: 0.6;
  position: absolute;
}

.content-result {
  color: white;
  z-index: 1;
  position: absolute;
}

.content-result-perc {
  font-weight: 600;
  font-size: 50px;
  letter-spacing: 2px;
}

.w-more-btn {
  width: calc(100% + 14px);
}

.more-btn > div {
  margin-right: 20px !important;
}

.comment-heart-btn {
  margin-bottom: -10px;
}

.more-btn >i:hover, .comment-heart-btn > i:hover {
  cursor: pointer;
}

.comment-heart-btn > div {
  margin-right: -4px;
  margin-top: -8px;
  text-align: center;
  font-size: 10px;
}

.more-info > div {
  margin: 10px 20px 0px;
  text-align: center;
  cursor: pointer;
}

.more-info > div:first-child {
  margin-top: 15px;
}

.more-info > div:last-child {
  margin-bottom: 15px;
}

.logout-btn {
  padding: 0 !important;
}

.logout-btn > button:hover {
  background-color: white;
}

.user-face {
  height: 23px;
  width: 23px;
  border-radius: 50%;
  background-color: lightgrey;
}

.user-face-nav {
  height: 27px;
  width: 27px;
  border-radius: 50%;
  background-color: lightgrey;
}

.user-face-big {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background-color: lightgrey;
  margin: 10px 10px 10px 0;
}

.user-face-bigger {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: lightgrey;
  margin: 10px 10px 10px 0;
}

.subs-list-wrap {
  width: calc(100% + 10px);
  display: flex;
  padding: 9px 0;
  margin: 5px 0 5px -5px;
  border-bottom: 1px rgb(245,245,245) solid;
}

.subs-list {
  display: flex;
  width: 92.15%;
  margin: 0 auto;
}

.subs-list-each {
  min-width: 60px;
  width: 60px;
  height: auto;
  padding-right: 20px;
}

.subs-face {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid #eee;
  margin: 0 auto;
}

.subs-face:first-child {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid #eee;
  margin: 0 auto;
}

.subs-name {
  text-align: center;
  margin-top: 5px;
  color: #666;
}

.subs-btn {
  /* width: 20%;
  max-width: 150px; */
  width: 73px;
  height: 32px;
  padding: 5px 0 7px;
  margin-top: 15px;
  font-weight: 500;
  font-size: 13px;
  border-radius: 16px;
  border: 1px solid white !important;
  letter-spacing: -0.3px;
}

.sideicon {
  padding: 4px 0 2px;
  margin-right: 5px;
  line-height: 12px;
  font-size: 11px;
  text-align: center;
  color: white;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: inline-block;
}

.sideicon.best {
  height: 14px;
  /* width: 43px; */
  min-width: 43px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: black;
}

.sideicon.norm {
  height: 14px;
  min-width: 8px;
  padding-left: 5px;
  padding-right: 6px;
  background-color: grey;
}

.comment.norm {
  /* margin-top: 14px; */
  /* min-height: 34px; */
}

.feed-input-border {
  border: none;
}

.comment {
  margin: 7px 0 0;
}

.comment-offset {
  margin-bottom: calc(20px + 3%);
}

.comment-reactor {
  margin-top: 2px;
  margin-left: -3px;
}

.comment-content {
  margin-left: 3px;
  /* margin-top: 1px; */
}

.comment-clear {
  margin: 3px -2px 0 2px;
}

.comment-clear > i:hover{
  cursor: pointer;
}

.comment-heart {
  font-size: 16px !important;
  /* margin-bottom: 6px; */
}
/* 
.comment-heart-num-row {
  font-size: 10px !important;
  margin-right: 2px;
  margin-top: -20px;
  text-align: right;
  height: 16px;
  line-height: 35px;
} */

.comment-input-wrap {
  border-bottom: 3px solid black;
  height: 55px;
}

.comment-input {
  border-bottom: none !important;
  padding: 8px 0 !important;
  font-size: 14px !important;
  width: calc(100% - 57px) !important;
}

.comment-input-bg-fix {
  position: fixed;
  bottom: 50px;
  z-index: 100;
  opacity: 0.9;
}

.comment-submit-now, .comment-submit {
  position: absolute;
  top: 25px;
  right: -6px;
  font-size: 14px;
  font-weight: 700;
}

.nav-bar-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: -2px;
  width: 100%;
  height: 50px;
  background-color: white;
  z-index: 1;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.creator-name-card {
  margin-top: 13px;
  position: absolute;
  width: 78%;
  left: 22px;
  color: white;
}

.creator-name {
  font-size: 36px;
  font-weight: 700;
  width: 78%;
  min-height: 52px;
  padding-top: 5px;
}

.creator-name-edit {
  font-size: 36px;
  margin-top: -24px;
  margin-left: -1px;
  background-color: black;
  border: none;
  color: white;
  font-weight: 700;
  width: 100%;
  min-height: 52px;
  padding-top: 5px;
  font-family: "Noto Sans KR", sans-serif !important;
  outline: none;
}


.creator-subs-num {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.7;
  margin-top: -18px;
}

.subs-check-icon {
  margin: -2px -1px 0 2px
}

.version-status {
  margin-top: 13px;
  position: absolute;
  width: 78%;
  top: 90px;
  left: 22px;
  color: white;
}

.version-status > div:hover {
  cursor: pointer;
}

.qmark {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width:12px; 
  height:12px; 
  border-radius: 50%; 
  margin: 4px 0 0 4px; 
  font-size: 8px; 
  border: 1px solid white;
}

.qmark-white {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width:12px; 
  height:12px; 
  border-radius: 50%; 
  margin: 3px 0 0 4px; 
  font-size: 8px; 
  color: grey;
  border: 1px solid grey;
}

.photo-edit-btn {
  width: 24px;
  display: flex;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid white;
  background-color: black;
  color: white;
  top: 70px;
  right: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.each-noti {
  padding-top: 8px;
  padding-bottom: 8px;
  list-style-type: none;
  width: 97%;
  min-height: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.each-noti:first-child {
  padding-top: 16px;
}

.noti-content-ml {
  margin-left: 10px;
}

.noti-content-mr {
  margin-right: 50px;
}

.both-img-wrap {
  position: relative;
  width: 50px;
  height: 50px;
}
.left-img, .right-img {
  position: absolute;
  height: 50px;
  width: 63%;
}

.left-img {
  left: 0; top: 0; -webkit-clip-path: polygon(0 0, 100% 0%, 50% 100%, 0% 100%); clip-path: polygon(0 0, 100% 0%, 50% 100%, 0% 100%); 
}
.right-img {
  right: 0; top: 0; -webkit-clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%); clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%); 
}

/* .img-srch-btn {
  width: 200px;
  height: 20px;
  margin-top: 10px;
  font-size: 15px;
} */

.img-srch-btn > span:hover {
  cursor: pointer;
}

/* .img-srch-btn-bg {
  position: absolute;
  width: 125px;
  height: 14px;
  margin-top: -10px;
  background-color: rgb(240,240,240);
} */

.each-srch-result-wrap {
  width: 100%;
  display: flex;
  padding: 9px 0;
  margin: 5px 0 5px -5px;
  border-bottom: 1px rgb(245,245,245) solid;
}

.each-srch-result-list {
  display: flex;
  width: 97%;
  margin: 0 auto;
}

.each-srch-result-list > img {
  border: 3px solid white;
}

.each-srch-result-list > img:hover{
  cursor: pointer;
}

.each-srch-result {
  height: 120px;
  margin-right: 10px;
}

.each-srch-result:last-child {
  margin-right: 0px;
}

.selected-result {
  border: 3px solid black !important;
}

.float-btn {
  position: fixed;
  z-index: 100;
  right: 4%;
  bottom: 4%;
  width: 100px;
  height: 32px;
  padding: 5px 0 7px;
  margin-top: 15px;
  font-weight: 500;
  font-size: 13px;
  border-radius: 32px;
  letter-spacing: -0.3px;
}

.login-title {
  font-size: 35px;
  font-weight: 500;
}

.radio-form {
  display: inline-flex;
  justify-content: space-between;
  max-width: 400px;
  width: 20%;
}

.radio-form label {
  border: 0;
  width: 106%;
  max-width: 125px;
  height: 40px;
  background-color: white;
  font-size: 26px;
  margin: -10px 0 0 0px;
  font-weight: 800;
  color: #BBB;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.radio-form .two-lines{
  line-height: 30px;
}

.radio-form input[type="radio"] {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  opacity: 0;
}

.each-profile {
  margin: 20px 0 0 0;
  display: inline-flex;
  width: 100%
  /* border-bottom: 0.5px solid grey; */
}

.radio-form input:checked + label {
  border: 0;
  width: 100%;
  height: 40px;
  background-color: white;
  font-size: 26px;
  /* margin: 0; */
  font-weight: 800;
  color: #000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.each-profile-ul {
  border-bottom: 0.5px solid grey;
  width: 100%;
  opacity: 0.18;
  height: 1px;
}

.select-form {
  border: 0;
  width: 100%;
  height: 40px;
  background-color: white;
  font-size: 26px;
  margin: -12px 0 0 0;
  font-weight: 800;
  color: #BBB;
  font-family: "Noto Sans KR", sans-serif !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.number-form {
  border: none;
  width: 100%;
  height: 40px;
  background-color: white;
  font-size: 26px;
  margin: -12px 0 0 0;
  font-weight: 800;
  color: black;
  font-family: "Noto Sans KR", sans-serif !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.number-form::placeholder {
  color: #BBB;
  font-family: "Noto Sans KR", sans-serif !important;
  margin-left: -2px;
}

.profile-submit-btn {
  color: white;
  background-color: black;
  width: 150px;
  height: 50px;
  padding: 7px;
  margin: 30px auto 40px;
  font-weight: 500;
  font-size: 18px;
  border-radius: 32px;
  letter-spacing: -0.3px;
}

.content-img-input-bg {
  opacity: 0.7;
  position: absolute;
}

.content-img-input-msg-upper {
  height: calc(50% - 19px);
  margin-top: 28px;
  border-bottom: 0.5px #666 solid;
}

.content-img-input-msg-lower {
  height: calc(50% - 19px);
}

.delete-tag {
  color: grey; margin-left: -4px;
}

.delete-tag:hover {
  cursor: pointer;
}