@media (max-width: 575px) {
  .demo-card-image.mdl-card {
    /* width: 256px; */
    height: 265px;
  }

  .contents {
    padding-bottom: 50px;
    padding-left: 3%;
    padding-right: 3%;
  }

  .more-info {
    position: absolute;
    right: 5%;
    top: auto;
    margin-top: -27px;
    margin-right: 20px;
    z-index: 3;
    /* width: 134px; */
    /* height: 240px; */
    border: 1px solid #ddd;
    background-color: white;
    box-shadow: 2px -1px 0px 0 rgba(0,-1,0,0.03), 0 0px 0px -1px rgba(0,0,0,.2), 0 0px 0px 0 rgba(0,0,0,.12) !important;
    display: none;
  }

  .creator-img {
    position: absolute;
    right: 22px;
    top: 22px;
    width: 95px;
    height: 95px;
    border-radius: 47px;
    background-color: grey;
    margin-right: 8px;
  }  

  .page-content-two-tabs {
    width: 100% !important;
    height: 50px;
    padding: 0 !important;
    margin-bottom: -11px;
    display: inline-flex;
    background-color: white;
    padding: 5px;
    margin: 7px -5px;
  }
}

@media (min-width: 576px) {
  .contents {
    padding: 30px;
  }

  .contents.noti {
    padding-top: 10px !important;
  }

  .container {
    max-width: 576px;
  }

  .more-info {
    position: absolute;
    right: calc(50% - 235px);
    top: auto;
    margin-top: -26px;
    margin-right: 20px;
    z-index: 3;
    /* width: 134px; */
    /* height: 240px; */
    border: 1px solid #ddd;
    background-color: white;
    box-shadow: 2px -1px 0px 0 rgba(0,-1,0,0.03), 0 0px 0px -1px rgba(0,0,0,.2), 0 0px 0px 0 rgba(0,0,0,.12) !important;
    display: none;
  }    

  .demo-card-image.mdl-card {
    /* width: 256px; */
    height: 365px;
  }

  .creator-img {
    position: absolute;
    right: 22px;
    top: 22px;
    width: 95px;
    height: 95px;
    border-radius: 47px;
    background-color: grey;
  }

  .page-content-two-tabs {
    width: calc(100% + 10px) !important;
    height: 50px;
    padding: 0 !important;
    margin-bottom: -11px;
    display: inline-flex;
    background-color: white;
    padding: 5px;
    margin: 7px -5px;
  }
}

@media (min-width: 768px) {
  .contents {
    padding: 40px;
  }

  .contents.noti {
    padding-top: 10px !important;
  }

  .container {
    max-width: 720px;
  }

  .more-info {
    position: absolute;
    right: calc(50% - 300px);
    top: auto;
    margin-top: -26px;
    margin-right: 20px;
    z-index: 3;
    /* width: 134px; */
    /* height: 240px; */
    border: 1px solid #ddd;
    background-color: white;
    box-shadow: 2px -1px 0px 0 rgba(0,-1,0,0.03), 0 0px 0px -1px rgba(0,0,0,.2), 0 0px 0px 0 rgba(0,0,0,.12) !important;
    display: none;
  }

  .demo-card-image.mdl-card {
    /* width: 256px; */
    height: 365px;
  }

  .page-content-two-tabs {
    width: calc(100% + 10px) !important;
    height: 50px;
    padding: 0 !important;
    margin-bottom: -11px;
    display: inline-flex;
    background-color: white;
    padding: 5px;
    margin: 7px -5px;
  }
}