{% load custom_tags %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A/B</title>
    <meta property="og:title" content="A/B" />
    <meta property="og:description" content="What is your choice?" />
    <link rel="stylesheet" href="{% static 'feedpage/common.css' %}" />
    <link rel="stylesheet" href="{% static 'feedpage/partial.css' %}" />
    <link rel="stylesheet" href="{% static 'feedpage/responsive.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500|Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.yellow-red.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://milankyncl.github.io/jquery-copy-to-clipboard/jquery.copy-to-clipboard.js"></script>
  </head>
  <body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header bg-black header-shadow">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer service-title">
            <a href="/feeds" class="link-white font-13"></a>
          </div>
          <form action="/feeds/" method="get">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
              <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
                <i class="material-icons" style="color: white">search</i>
              </label>
              <div class="mdl-textfield__expandable-holder font-white search-wrap" style="border-bottom: 1px solid;">
                <input class="mdl-textfield__input none search-input" type="text" name="keyword" id="fixed-header-drawer-exp">
                <input type="submit" value="검색" class="search-btn invisible font-white" />
              </div>
            </div>
          </form>
        </div>
      </header>
      <main class="mdl-layout__content mt--1">
        {% block content %}
        {% endblock %}
      </main>
    </div>

    <!--navigation bar-->
    {% if user.is_authenticated %}
      <div class="nav-bar-wrap">
        <a href="/feeds/">
          <div>
            <i class="material-icons-outlined" style="font-size: 29px;">home</i>
          </div>
        </a>
        <a href="/feeds/mysubscribe/">
          <div>
            <i class="material-icons-outlined" style="font-size: 26px; margin-top: 2px;">library_books</i>
          </div>
        </a>
        <a href="/feeds/new">
          <div>
            <i class="material-icons-outlined" style="font-size: 29px;">add_circle_outline</i>
          </div>
        </a>
        <a href="/feeds/mynotification">
          <div>
            {% get_noti_amount user.id as noti_amount %}
            {% if noti_amount == 0 %}
              <i class="material-icons-outlined" style="font-size: 29px; margin-right: -2px;">notifications_none</i>
            {% else %}
              <div class="material-icons mdl-badge mdl-badge--overlap" style="font-size: 28px; margin-top: px; margin-right: -3px;" data-badge="{{noti_amount}}">notifications_none</div>
            {% endif%}
          </div>
        </a>
        <a href="/feeds/creator/{{ request.user.username }}/">
          {% if user.profile.image.url is not None %}
            <div class="user-face-nav mb-1" style="background: url('{{ user.profile.image.url }}') center / cover;"></div>
          {% else %}
            <div class="user-face-nav mb-1" style="background: url('/static/feedpage/default_avatar.png') center / cover;"></div>
          {% endif %}
        </a>
      </div>
    {% else%}
      <div class="float-btn flex-center bg-black">
        <a href="/accounts/login">
          <div class="w-100 h-100 font-white letter-space font-15">
            참여하기
          </div>
        </a>
      </div>
    {% endif %}
    <script src="{% static 'feedpage/feeds.js' %}"></script>
    <script src="{% static 'feedpage/accounts.js' %}"></script>
  </body>
</html>