<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>연습입니당</title>
  </head>
  <body>
  <header style="width: 100%; background-color: black; color: white; text-align: left;">
    <div style="text-align: right;">
        {% if user.is_authenticated %}
        최근 로그인 일자: {{user.profile.recent_login}}
        <br/>
            {{user.profile.birthday}}이 생일이신 {{ user.get_username }}님, 안녕하세요
              {% comment %} {{ user.profile.is_male }} {% endcomment %}
              <form action='{% url "logout" %}' method='POST'>
                {% csrf_token %} 
                <input type='hidden' />
                <input type='submit' value='로그아웃' />
              </form>
              <a href="{% url 'profile' %}" style="color: white; text-decoration: none;">내정보수정</a>
              {% comment %} <a href="{% url 'logout'%}?next={{request.path}}">로그아웃</a> {% endcomment %}
        {% else %}
              <a href="{% url 'signup' %}">회원가입</a>
              <a href="{% url 'login'%}?next={{request.path}}">로그인</a>
        {% endif %}
    </div>
    Hyunsang's Feed Page
  </header>
  {% block content %}
  {% endblock %}

  </body>
</html>


