{% extends 'base.html' %}

{% load staticfiles %}
{% load custom_tags %}
{% load socialaccount %}

{% block content %}
{% providers_media_js %}

{% comment %} <h1>Log in</h1>
{% if error %}
{{ error }}
{% endif %}
<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <p>
      ID(이메일주소):
      <input type="text" name="email" />
  </p>
  <p>
      비밀번호:
    <input type="password" name="password" />
  </p>
  <input type="hidden" name="next" value="{{next}}" />
  <input type="submit" value="로그인" />
</form> {% endcomment %}



<div class="container-full">
  <div class="flex-center">
    <div>
      <div class="login-title mb-2 m-auto">Login</div>
      <div class="font-lightgrey font-12 mb-2 m-auto">간편하게 로그인해서 둘중에 하나 골라주세요</div>
      <a href="{% provider_login_url 'facebook' %}">
        <div class="m-auto">페북 로그인</div>
      </a>
      <a href="{% provider_login_url 'kakao' %}">
        <div class="m-auto">카톡 로그인</div>
      </a>
  </div>
  </div>
</div>


{% endblock content %}
