{% extends 'base.html' %}

{% block content %}

<h1>Profile Edit</h1>
{% if error %}
{{ error }}
{% endif %}

<form action='{% url "profile" %}' method='POST'>
    {% csrf_token %}
    <p>
        이메일주소(ID) : {{ profile.user.email}}
    </p>
    <p>
        현재 비번 : 
        <input name='current_password' type='password' value='' required/>
    </p>
    <p>
        새로운 비번 : 
        <input name='password1' type='password' value='' />
    </p>
    <p>
        새로운 비번 확인 : 
        <input name='password2' type='password' value='' />
    </p>
    <p>
        닉네임 : 
        <input name='username' type='text' value='{{ profile.user.username }}' />
    </p>
    <p>
        성별 :
        <input type='radio' id='genderChoice1' name='gender' value=True required> 
        <label for='genderChoice1'>남성</label>
        <input type='radio' id='genderChoice2' name='gender' value=False> 
        <label for='genderChoice2'>여성</label>
    </p>
    <p> 
        생년월일 : <input type='date' name='birthday' value='{{ profile.birthday }}'/> <br/>
    </p>
    <p>
        정치성향 :
        <select name='politics' required>
            <option disabled selected value> -- 선택하세요 -- </option>
            <option value="5">진보</option>
            <option value="4">중도진보</option>
            <option value="3">중도</option>
            <option value="2">중도보수</option>
            <option value="1">보수</option>
        </select>
    </p>

    <p>
        배경지역 :
        <select name='region' required>
            <option disabled selected value> -- 선택하세요 -- </option>
            <option value="1">서울/경기</option>
            <option value="2">강원</option>
            <option value="3">충청</option>
            <option value="4">호남</option>
            <option value="5">영남</option>
            <option value="6">제주</option>
            <option value="7">해외</option>
            <option value="8">기타</option>
        </select>
    </p>
    <input type='submit' value='정보 수정하기' />
</form>

{% endblock %}