{% extends 'base_black.html' %}
{% load custom_tags %}

{% block content %}
{% comment %} {{ user.socialaccount_set.first.get_avatar_url }} {% endcomment %}
<div class="page-content-black mdl-layout__content bg-black w-100 font-white">
  <div class="container relative">
    {% comment %} {% if profile.image.url != "/media/False" %} {% endcomment %}
      <div class="creator-img" style="background: url('{{ profile.image_url }}') center / cover;"></div>
    {% comment %} {% else %}
      <div class="creator-img" style="background: url('/static/feedpage/default_avatar.png') center / cover;"></div>
    {% endif %} {% endcomment %}
    <div class="m-auto black-creator">
      <div class="contents-margin">
        <div class="creator-name-card">
          <div class="creator-name ellipsis">
            {{ request.user.username }}
          </div>
          <div class="creator-subs-num">
            {{ profile.user.email}}
          </div>
        </div>
        <div class="version-status flex">
          현재 Lite version입니다. <div class="qmark" onclick="return alert('프로필을 모두 채우고 Premium version으로 업그레이드 해보세요. 시원시원하게 상세 통계까지 확인할 수 있습니다.')">?</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="m-auto contents">
    <div class="contents-margin">
      {% if error %}
      {{ error }}
      {% endif %}
      <form action='{% url "profile" %}' method='POST'>
          {% csrf_token %}
          <p>
              이메일주소(ID) : {{ profile.user.email}}
          </p>
          <p>
              닉네임 : 
              <input name='username' type='text' value='{{ profile.user.username }}' />
          </p>
          <p>
              성별 :
              <input type='radio' id='genderChoice1' name='gender' value=True required> 
              <label for='genderChoice1'>남성</label>
              <input type='radio' id='genderChoice2' name='gender' value=False> 
              <label for='genderChoice2'>여성</label>
          </p>
          <p> 
              생년월일 : <input type='date' name='birthday' value='{{ profile.birthday|date:"Y-m-d"}}'/> <br/>
          </p>
          <p>
              배경지역 :
              <select name='region' required>
                  <option disabled selected value> -- 선택하세요 -- </option>
                  <option value="1">서울/경기</option>
                  <option value="2">강원</option>
                  <option value="3">충청</option>
                  <option value="4">호남</option>
                  <option value="5">영남</option>
                  <option value="6">제주</option>
                  <option value="7">해외</option>
                  <option value="8">기타</option>
              </select>
          </p>
          <p>
              전공분야 :
              <input type='radio' id='majorChoice1' name='major' value='문과' required> 
              <label for='majorChoice1'>문과</label>
              <input type='radio' id='majorChoice2' name='major' value='이과'> 
              <label for='majorChoice2'>이과</label>
              <input type='radio' id='majorChoice3' name='major' value='예체능'> 
              <label for='majorChoice3'>예체능</label>
              <input type='radio' id='majorChoice4' name='major' value='기타'> 
              <label for='majorChoice4'>기타</label>
          </p>
          <p>
              정치성향 :
              <select name='politics' required>
                  <option disabled selected value> -- 선택하세요 -- </option>
                  <option value="5">진보</option>
                  <option value="4">중도진보</option>
                  <option value="3">중도</option>
                  <option value="2">중도보수</option>
                  <option value="1">보수</option>
              </select>
          </p>
          <p>폰: 아이폰 / 안드로이드</p>
          <p>종교: 개신교 / 천주교 / 불교 / 원불교 / 기타  </p>
          {% comment %} <p>
              아이폰 좋아함? :
              <input type='radio' id='genderChoice1' name='gender' value=True required> 
              <label for='genderChoice1'>남성</label>
              <input type='radio' id='genderChoice2' name='gender' value=False> 
              <label for='genderChoice2'>여성</label>
          </p>
          <p>
              종교 :
              <input type='radio' id='genderChoice1' name='gender' value=True required> 
              <label for='genderChoice1'>남성</label>
              <input type='radio' id='genderChoice2' name='gender' value=False> 
              <label for='genderChoice2'>여성</label>
          </p> {% endcomment %}
          <input type='submit' value='정보 수정하기' />
      </form>
    </div>
  </div>
</div>

<!--navigation bar-->
{% if user.is_authenticated %}
  <div class="nav-bar-wrap">
    <a href="/feeds/">
      <div>
        <i class="material-icons-outlined" style="font-size: 29px;">home</i>
      </div>
    </a>
    <a href="/feeds/mysubscribe/">
      <div>
        <i class="material-icons-outlined" style="font-size: 26px; margin-top: 2px;">library_books</i>
      </div>
    </a>
    <a href="/feeds/new">
      <div>
        <i class="material-icons-outlined" style="font-size: 29px;">add_circle_outline</i>
      </div>
    </a>
    <a href="/feeds/mynotification">
      <div>
        {% get_noti_amount user.id as noti_amount %}
        {% if noti_amount == 0 %}
          <i class="material-icons-outlined" style="font-size: 29px; margin-right: -2px;">notifications_none</i>
        {% else %}
          <div class="material-icons mdl-badge mdl-badge--overlap" style="font-size: 28px; margin-top: px; margin-right: -3px;" data-badge="{{noti_amount}}">notifications_none</div>
        {% endif%}
      </div>
    </a>
    <a href="/feeds/creator/{{ request.user.username }}/">
      {% if user.profile.image.url != "/media/False"%}
        <div class="user-face-nav mb-1" style="background: url('{{ user.profile.image.url }}') center / cover;"></div>
      {% else %}
        <div class="user-face-nav mb-1" style="background: url('/static/feedpage/default_avatar.png') center / cover;"></div>
      {% endif %}
    </a>
  </div>
{% else%}
  <div class="float-btn flex-center bg-black">
    <a href="/accounts/login">
      <div class="w-100 h-100 font-white letter-space font-15">
        참여하기
      </div>
    </a>
  </div>
{% endif %}
{% endblock content %}
