{% extends 'base.html' %}
{% load custom_tags %}

{% comment %} {% block content %}
  <h1>수정하기</h1>
  <a href="/feeds">메인으로 돌아가기</a>
  <form action="/feeds/{{feed.id}}/edit/" method="POST">
    {% csrf_token %} 
    <p>title</p>
    <input name="title" value="{{feed.title}}" maxlength="30" required /> <br />
    <p>content</p>
    A: <input name="content_a" value="{{feed.content_a}}" size="40"  maxlength="21" required /> <br />
    B: <input name="content_b" value="{{feed.content_b}}" size="40"  maxlength="21" required /> <br />
    <!--분기처리필요-->
    HASH TAG: 
    <input name="hash_tag_raw" placeholder="#이러한 #형태로 #입력하세요" size="30"/> <br />
    <input type="hidden" name="next" value="{{next}}" />
    <input name="img_a" type="file" accept="image/*" required/> <br />
    <input name="img_b" type="file" accept="image/*" required/> <br />
          <br>
    <input type="submit" value="submit" />
    <br/>
    {% get_feed_tags feed.id as feed_tags %}
    {% for tag in feed_tags %}
    # {{ tag }} 




    tag 삭제를 어떻게 구현한담??? 이거 폼태그 안에 폼태그가 있어서인지, 태그삭제가 되지 않고 수정하기 submit이 되어 POST가 날아가는데...

    {{tag.id}}
      <form action="/feeds/{{ feed.id }}/delete_tag/{{ tag.id }}/" method="DELETE">
      {% csrf_token %}
      <button type="submit">X</button>
      </form>
      
    &nbsp&nbsp
    {% endfor %}
  </form>

<!--navigation bar-->
{% if user.is_authenticated %}
  <div class="nav-bar-wrap">
    <a href="/feeds/">
      <div>
        <i class="material-icons-outlined" style="font-size: 29px;">home</i>
      </div>
    </a>
    <a href="/feeds/mysubscribe/">
      <div>
        <i class="material-icons-outlined" style="font-size: 26px; margin-top: 2px;">library_books</i>
      </div>
    </a>
    <a href="/feeds/new">
      <div>
        <i class="material-icons-outlined" style="font-size: 29px;">add_circle_outline</i>
      </div>
    </a>
    <a href="/feeds/mynotification">
      <div>
        {% get_noti_amount user.id as noti_amount %}
        {% if noti_amount == 0 %}
          <i class="material-icons-outlined" style="font-size: 29px; margin-right: -2px;">notifications_none</i>
        {% else %}
          <div class="material-icons mdl-badge mdl-badge--overlap" style="font-size: 28px; margin-top: px; margin-right: -3px;" data-badge="{{noti_amount}}">notifications_none</div>
        {% endif%}
      </div>
    </a>
    <a href="/feeds/creator/{{ request.user.username }}/">
      {% if user.profile.image.url != "/media/False"%}
        <div class="user-face-nav mb-1" style="background: url('{{ user.profile.image.url }}') center / cover;"></div>
      {% else %}
        <div class="user-face-nav mb-1" style="background: url('/static/feedpage/default_avatar.png') center / cover;"></div>
      {% endif %}
    </a>
  </div>
{% else%}
  <div class="float-btn flex-center bg-black">
    <a href="/accounts/login">
      <div class="w-100 h-100 font-white letter-space font-15">
        참여하기
      </div>
    </a>
  </div>
{% endif %}

{% endblock content %}

{% extends 'base.html' %}
{% load custom_tags %} {% endcomment %}

{% block content %}

<div class="container">
  <div class="m-auto contents">
    <div class="contents-margin">
      <form action="/feeds/new/" method="POST" enctype="multipart/form-data">
        {% csrf_token %} 
        <li class="each-li">
          <div class="w-100">
            <input class="content-title w-100 feed-input-border" name="title" placeholder="제목을 입력하세요(30자 이내)"  value="{{feed.title}}" maxlength="30" required/>
            <div class="font-13 font-light">
              <input class="font-13 font-light letter-space w-100 feed-input-border" type="text" id="hash_tag" name="hash_tag_raw" placeholder="#으로 #구분하여 #한단어씩 #해시태그를 #입력하세요" />
            </div>
          </div>
          <div class="inline-flex v-center mt-1 mb-2">
            <div class="inline-flex font-grey">
              {% if user.profile.image.url != "/media/False" %}
                <div class="user-face" style="background: url('{{ user.profile.image.url }}') center / cover;"></div>
              {% else %}
                <div class="user-face" style="background: url('/static/feedpage/default_avatar.png') center / cover;"></div>
              {% endif %}
              <span class="font-12 ml-1">
                {{user.username}}
              </span>
            </div>
          </div>
          <!--A와 B를 함께 두는 행-->
          <div class="each-content">
            <!-- Image card A-->
            <div class="mr-1perc demo-card-image mdl-card content-img inner uploaded-a" style="background: url('{{ feed.img_a.url }}') center / cover;">
              <label for="img_a" style="height: 100%; width: 100%;">
                <div class="content-label bg-black">
                  <strong>A / </strong>
                  <input type="text" class="w-80 font-15 feed-input-border font-white bg-black content_a" value="{{ feed.content_a }}" placeholder=" 내용(21자 이내)" name="content_a" maxlength="21" required>
                </div>
              </label>
            </div>
            <input id="img_a" class="upload-hidden upload-a" name="img_a" type="file" accept="image/*" required/>
            <!-- Image card B-->
            <input id="img_b" class="upload-hidden upload-b" name="img_b" type="file" accept="image/*" required/>
            <div class="ml-1perc demo-card-image mdl-card content-img inner uploaded-b" style="background: url('{{ feed.img_b.url }}') center / cover;">
              <label for="img_b" style="height: 100%; width: 100%;">
                <div class="content-label bg-black">
                  <strong>B / </strong>
                  <input type="text" class="w-80 font-15 feed-input-border font-white bg-black content_b" value="{{ feed.content_b }}" placeholder=" 내용(21자 이내)" name="content_b" maxlength="21" required>
                </div>
              </label>
            </div>
          </div>
          <div class="img-srch-btn font-15" data-csrfmiddlewaretoken="{{csrf_token}}">
            <span>
              [beta] 이미지 추천 >
            </span>
          </div>
          <div class="each-srch-result-wrap hr-scroll">
            <div class="each-srch-result-list img-srch-result-js">
            </div>
          </div>
          <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect w-100 mt-3">
            Submit
          </button>
        </li>
      </form>
    </div>
  </div> 
</div>
<!--navigation bar-->
{% if user.is_authenticated %}
  <div class="nav-bar-wrap">
    <a href="/feeds/">
      <div>
        <i class="material-icons-outlined" style="font-size: 29px;">home</i>
      </div>
    </a>
    <a href="/feeds/mysubscribe/">
      <div>
        <i class="material-icons-outlined" style="font-size: 26px; margin-top: 2px;">library_books</i>
      </div>
    </a>
    <a href="/feeds/new">
      <div>
        <i class="material-icons-outlined" style="font-size: 29px;">add_circle_outline</i>
      </div>
    </a>
    <a href="/feeds/mynotification">
      <div>
        {% get_noti_amount user.id as noti_amount %}
        {% if noti_amount == 0 %}
          <i class="material-icons-outlined" style="font-size: 29px; margin-right: -2px;">notifications_none</i>
        {% else %}
          <div class="material-icons mdl-badge mdl-badge--overlap" style="font-size: 28px; margin-top: px; margin-right: -3px;" data-badge="{{noti_amount}}">notifications_none</div>
        {% endif%}
      </div>
    </a>
    <a href="/feeds/creator/{{ request.user.username }}/">
      {% if user.profile.image.url != "/media/False"%}
        <div class="user-face-nav mb-1" style="background: url('{{ user.profile.image.url }}') center / cover;"></div>
      {% else %}
        <div class="user-face-nav mb-1" style="background: url('/static/feedpage/default_avatar.png') center / cover;"></div>
      {% endif %}
    </a>
  </div>
{% else%}
  <div class="float-btn flex-center bg-black">
    <a href="/accounts/login">
      <div class="w-100 h-100 font-white letter-space font-15">
        참여하기
      </div>
    </a>
  </div>
{% endif %}
{% endblock content %}
