{% extends 'base.html' %}
{% load custom_tags %}
{% block content %}

<div class="container">
  <div class="m-auto contents">
    <div class="contents-margin">
      <form action="/feeds/{{ feed.uuid }}/edit/" method="POST" enctype="multipart/form-data">
        {% csrf_token %} 
        <li class="each-li">
          <div class="font-14 font-grey font-mid">수정모드입니다.</div><br>
          <div class="w-100">
            <input class="content-title w-100 feed-input-border" name="title" placeholder="제목을 입력하세요(30자 이내)" value="{{feed.title}}" maxlength="30" autocomplete="off" required/>
            <div class="letter-space">
              {% get_feed_tags feed.id as feed_tags %}
              {% for tag in feed_tags %}
                <span class="font-13 font-light">
                  #{{ tag }}
                </span>
                <span class="delete-tag" data-feedid="{{feed.id}}" data-tagrelationid="{{tag.id}}">
                  <i class="material-icons" style="font-size: 12px;">clear</i>
                </span>
              {% endfor %}
            </div>
            <div class="font-13 font-light">
              <input class="font-13 font-light letter-space w-100 feed-input-border" type="text" id="hash_tag" name="hash_tag_raw" placeholder="#추가할 #해시태그를 #입력하세요" autocomplete="off" />
            </div>
          </div>
          <div class="inline-flex v-center mt-1 mb-2">
            <div class="inline-flex font-grey">
              {% if user.profile.image.url is not None %}
                <div class="user-face" style="background: url('{{ user.profile.image.url }}') center / cover;"></div>
              {% else %}
                <div class="user-face" style="background: url('/static/feedpage/default_avatar.png') center / cover;"></div>
              {% endif %}
              <span class="font-12 ml-1">
                {{user.username}}
              </span>
            </div>
          </div>
          <!--A와 B를 함께 두는 행-->
          <div class="each-content">
            <!-- Image card A-->
            <div class="mr-1perc demo-card-image mdl-card content-img inner text-center uploaded-a" style="background: url('{{ feed.img_a.url }}') center / cover;">
              <div class="content-label bg-black">
                <strong>A / </strong>
                <input type="text" class="w-80 font-15 feed-input-border font-white bg-black content-a content-js" value="{{ feed.content_a }}" placeholder=" 내용(21자 이내)" name="content_a" maxlength="21" autocomplete="off" required>
              </div>
              <div class="w-100 h-100 img-menu-on" data-csrfmiddlewaretoken="{{ csrf_token }}" data-aorb="a">
              </div>
            </div>
            <input id="img-a" class="upload-hidden upload-a" name="img_a" type="file" accept="image/*"/>
            <!-- Image card B-->
            <input id="img-b" class="upload-hidden upload-b" name="img_b" type="file" accept="image/*"/>
            <div class="ml-1perc demo-card-image mdl-card content-img inner text-center uploaded-b" style="background: url('{{ feed.img_b.url }}') center / cover;">
              <div class="content-label bg-black">
                <strong>B / </strong>
                <input type="text" class="w-80 font-15 feed-input-border font-white bg-black content-b content-js" value="{{ feed.content_b}}" placeholder=" 내용(21자 이내)" name="content_b" maxlength="21" autocomplete="off" required>
              </div>
              <div class="w-100 h-100 img-menu-on" data-csrfmiddlewaretoken="{{ csrf_token}}" data-aorb="b">
              </div>
            </div>
          </div>
          <div class="each-srch-result-wrap hr-scroll">
            <div class="each-srch-result-list img-srch-result-js">
            </div>
          </div>
          <!--조건부 필요-->
          <input type="hidden" name="next" value="{{next}}" />
          <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect w-100 mt-3">
            수정하기
          </button>
          <!--조건부 필요 끝-->
        </li>
      </form>
    </div>
  </div> 
</div>
<!--navigation bar-->
<div class="nav-bar-bg">
  <div class="nav-bar-wrap">
    <a href="/feeds/">
      <div>
        <i class="material-icons-outlined" style="font-size: 29px;">home</i>
      </div>
    </a>
    <a href="/feeds/mysubscribe/">
      <div>
        <i class="material-icons-outlined" style="font-size: 26px; margin-top: 2px;">library_books</i>
      </div>
    </a>
    <a href="/feeds/new">
      <div>
        <i class="material-icons-outlined" style="font-size: 29px;">add_circle_outline</i>
      </div>
    </a>
    <a href="/feeds/mynotification">
      <div>
        {% get_noti_amount user.id as noti_amount %}
        {% if noti_amount == 0 %}
          <i class="material-icons-outlined" style="font-size: 29px; margin-right: -2px;">notifications_none</i>
        {% else %}
          <div class="material-icons mdl-badge mdl-badge--overlap" style="font-size: 28px; margin-top: px; margin-right: -3px;" data-badge="{{noti_amount}}">notifications_none</div>
        {% endif%}
      </div>
    </a>
    <a href="/feeds/creator/{{ request.user.username }}/">
      {% if user.profile.image.url is not None %}
        <div class="user-face-nav mb-1" style="background: url('{{ user.profile.image.url }}') center / cover;"></div>
      {% else %}
        <div class="user-face-nav mb-1" style="background: url('/static/feedpage/default_avatar.png') center / cover;"></div>
      {% endif %}
    </a>
  </div>
</div>
{% endblock content %}
