{% extends 'base.html' %}
{% load custom_tags %}
<!--언젠간 지표 트래킹도 구현하고 싶다-->
{% block content %}
<div class="mdl-grid container">
    <div class="mdl-cell--12-col m-auto contents">
        {% if is_searched and search_result_num != 0 %}
            <p>{{ search_result_num }}개의 검색결과가 있습니다.</p>
            <hr>
        {% endif %}
        <div class="contents-margin">
            {% for feed in feeds %}
                {% if feed.check_visible %}
                    <li class="each-li">
                        <div class="inline-flex w-more-btn">

                            <a href="/feeds/{{ feed.id }}">
                                <h2 class="link-black">{{ feed.title }}</h2>
                            </a>
                            <div class="ml-auto more-btn">

                                <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon v-center m-auto">
                                    <i class="material-icons">more_vert</i>
                                </button>
                                <div class="more-info">
                                    <div>
                                        {% if user.is_authenticated %}
                                            {% if request.user != feed.creator %}
                                                {% if request.user.profile not in feed.creator.profile.follows.all %}
                                                    <form action = "/feeds/{{ feed.creator.id }}/follow/" method="POST">
                                                        {% csrf_token %}
                                                        <input type="submit" value="구독하기" />
                                                    </form>
                                                {% else %}
                                                    <form action = "/feeds/{{ feed.creator.id }}/follow/" method="POST">
                                                        {% csrf_token %}
                                                        <input type="submit" value="구독취소" />
                                                    </form>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div>신고하기</div>
                                    <div>수정하기</div>
                                    <div>삭제하기</div>
                                </div>


                                {% comment %} <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
                                    <li class="mdl-menu__item">Some Action</li>
                                    <li class="mdl-menu__item">Another Action</li>
                                    <li disabled class="mdl-menu__item">Disabled Action</li>
                                    <li class="mdl-menu__item"> {% endcomment %}


                                    {% comment %} </li> {% endcomment %}
                                {% comment %} </ul> {% endcomment %}
                            </div>
                        </div>
                        <div class="letter-space">
                            {% get_feed_tags feed.id as feed_tags %}
                            {% for tag in feed_tags %}
                                {% if tag != feed_tags.first %}
                                    <span class="font-13 font-light">
                                        <a href="/feeds/?keyword={{tag}}" class="link-black">#{{ tag }}</a>
                                    </span>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="inline-flex v-center mt-1 mb-2">
                            <a href="/feeds/creator/{{feed.creator.username}}" class="link-grey">
                                <div class="inline-flex">
                                    <div class="user-face" style="background: url('/static/feedpage/default_avatar.png') center / cover;"></div>
                                    <span class="font-12 ml-1">
                                    <!-- 시간은 일단 가상의 값임. 수정 필요 {{ feed.created_at }}-->
                                        {{feed.creator.username}} · 1시간전
                                    </span>
                                </div>
                            </a>
                            {% comment %} (구독자: {{ feed.creator.profile.follow_to.all.count }}) {% endcomment %}
                        </div>

                        <!--A와 B를 함께 두는 행-->
                        <div class="each-content">

                            <!-- Image card A-->
                            <div class="mr-1perc demo-card-image mdl-card content-img" style="background: url('{{ feed.img_a.url }}') center / cover;">
                                <a href="/feeds/{{ feed.id }}/upvote_a" class="w-100 h-100">
                                </a>


                                {% comment %} <div class="mdl-card__title mdl-card--expand">
                                </div> {% endcomment %}

                                {% comment %} <div class="mdl-card__actions">
                                    <span class="demo-card-image__filename">
                                        <a href="/feeds/{{ feed.id }}/upvote_a">
                                            {{ feed.content_a}}
                                        </a>
                                    </span>
                                </div> {% endcomment %}

                            </div>

                            <!-- Image card B-->
                            <div class="ml-1perc demo-card-image mdl-card content-img" style="background: url('{{ feed.img_b.url }}') center / cover;">
                                <a href="/feeds/{{ feed.id }}/upvote_b" class="w-100 h-100">
                                </a>
                                {% comment %} <div class="mdl-card__title mdl-card--expand">
                                </div> {% endcomment %}

                                {% comment %} <div class="mdl-card__actions">
                                    <span class="demo-card-image__filename ">
                                        <a href="/feeds/{{ feed.id }}/upvote_b">
                                            {{ feed.content_b}}
                                        </a>
                                    </span>
                                </div> {% endcomment %}

                            </div>

                {% comment %}         
                            <!--A 네모 시작-->
                            <div style = "width: 45vw; border-radius: 25px; min-height: 45vw; background-color: white; text-align: center; display: flex; justify-content: center; flex-direction: column; margin: auto;">
                            <!--클릭했을 때 노출되는 표시-->
                            {% get_upvote_color feed.id user.id as choice %}
                            {% if choice == "A" %}
                                <div style = "position:absolute; width:45vw; min-height:45vw; border: 2px solid black; border-radius: 25px; opacity:0.9;" >
                                    <div style="padding-top: 10px;"><b>Your Choice!</b></div>
                                </div>
                            {% endif %}

                <!--로그인이 필요한 서비스입니다 얼럿 넣기-->

                                <!--A?-->
                                <div style = "width: 45vw; border-radius: 25px; min-height: 45vw; background-color: white; text-align: center; display: flex; justify-content: center; flex-direction: column; margin: auto;">
                                    <!--글씨만 한 레이어 윗층으로 뽑아내기 위함-->
                                <img src="{{ feed.img_a.url }}" alt="img_a" style="z-index: 0; position: absolute; width: 45vw;">
                                    <div style="z-index: 1;">
                <!--get방식인데 괜찮을지... + 비로그인일 경우에 누르지 못하도록 비활성화 필요-->
                                    <a href="/feeds/{{ feed.id }}/upvote_a">
                                        <h4 style="width: 100%;">A</h4>
                                        {{feed.content_a}}
                                        <p style="width: 100%;">
                                        {% get_upvote_a feed.id %}표({% get_upvote_perc_a feed.id %})
                                        </p>
                                    </a>
                                    </div>
                                </div>
                            </div>
                            <!--A 네모 끝-->

                            <!--B 네모 시작-->
                            <div style = "width: 45vw; border-radius: 25px; min-height: 45vw; background-color: white; text-align: center; display: flex; justify-content: center; flex-direction: column; margin: auto;">
                            <!--클릭했을 때 노출되는 표시-->
                            {% get_upvote_color feed.id user.id as choice %}
                            {% if choice == "B" %}
                                <div style = "position:absolute; width:45vw; min-height:45vw; border: 2px solid black; border-radius: 25px; opacity:0.9;" >
                                    <div style="padding-top: 10px;"><b>Your Choice!</b></div>
                                </div>
                            {% endif %}
                                <!--B?-->
                                <div style = "width: 45vw; border-radius: 25px; min-height: 45vw; background-color: white; text-align: center; display: flex; justify-content: center; flex-direction: column; margin: auto;">
                                <img src="{{ feed.img_b.url }}" alt="img_b" style="z-index: 0; position: absolute; width: 45vw;">
                                    <!--글씨만 한 레이어 앞으로 뽑아내기 위함-->
                                    <div style="z-index: 1;">
                                    <a href="/feeds/{{ feed.id }}/upvote_b">
                                    <h4 style="width: 100%;">B</h4>
                                    {{feed.content_b}}
                                    <p style="width: 100%;">
                                    {% get_upvote_b feed.id %}표({% get_upvote_perc_b feed.id %})
                                    </p>
                                    </a>
                                    </div>
                                </div>
                            </div>
                            <!--B 네모 끝--> {% endcomment %}
                        </div>
                        <!-- 그러고보니 show화면도 구현해야함!!!!!!!!!!!!!-->
                        <div>
                            {% comment %} {% if request.user == feed.creator %}
                                {% is_deletable feed.id as is_deletable_feed %}
                                {% if is_deletable_feed %}
                                    <a href="/feeds/{{ feed.id }}/edit">수정하기</a>
                                {% else %}
                                    수정불가
                                {% endif %}
                                <form action="/feeds/{{ feed.id }}/delete/" method="POST">
                                    {% csrf_token %}
                                    <input type="submit" value="삭제" />
                                </form>
                                <span>신고({{feed.report_set.count }}건)</span>
                            {% else %}
                                {% get_report_tf feed.id user.id as report_tf %}   
                                {% if report_tf and user.id %}
                                    <a href="/feeds/{{ feed.id }}/report/" onclick="return alert('이미 신고하셨습니다.')">
                                        <button>신고({{feed.report_set.count }}건)</button>
                                    </a>
                                {% elif report_tf == False and user.id %}
                                    <a href="/feeds/{{ feed.id }}/report/" onclick="return confirm('정말 신고하실 건가요?')">
                                        <button>신고({{feed.report_set.count }}건)</button>
                                    </a>
                                {% else %}
                                    <span>신고({{feed.report_set.count }}건)</span>
                                {% endif %}
                            {% endif %} {% endcomment %}
                        </div>
                        <!-- 댓글 코드 -->
                        <div class="mt-2 w-100">
                            <!--A베스트댓글-->
                            {% get_bestcomment_a feed.id as comment_a %}
                            <div class="comment w-100 v-center mt-1 inline-flex">
                                {% if comment_a %}
                                    <div class="sideicon best">A / BEST</div>
                                    <div class="font-11 v-center mtb-auto comment-reactor"><strong>{{ comment_a.reactor }}</strong></div>
                                    <div class="font-14 v-center mtb-auto comment-content">{{ comment_a.content }}</div>
                                    {% comment %} {{ comment_a.total_upvote }}
                                    {% if comment_a.reactor == user %}
                                    [MY]
                                    {% endif %} {% endcomment %}
                                    {% get_comment_upvote_tf feed.id comment_a.id user.id as comment_upvote_tf %}
                                    {% if user.is_authenticated %}
                                        {% if comment_upvote_tf %}
                                            <div class="ml-auto more-btn">
                                                <a href="/feeds/{{ feed.id }}/comments/{{ comment_a.id }}/upvote">
                                                    <i class="material-icons comment-heart v-center m-auto link-grey font-red ml-1">favorite</i>
                                                </a>
                                            </div>
                                        {% else %}
                                            <div class="ml-auto more-btn">
                                                <a href="/feeds/{{ feed.id }}/comments/{{ comment_a.id }}/upvote">
                                                    <i class="material-icons comment-heart v-center m-auto link-grey ml-1">favorite_border</i>
                                                </a>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div>
                            <!--B베스트댓글-->
                            {% get_bestcomment_b feed.id as comment_b %}
                            <div class="comment w-100 v-center mtb-1 inline-flex">
                                {% if comment_b %}
                                    <div class="sideicon best">B / BEST</div>
                                    <div class="font-11 v-center mtb-auto comment-reactor"><strong>{{ comment_b.reactor }}</strong></div>
                                    <div class="font-14 v-center mtb-auto comment-content ellipsis">{{ comment_b.content }}</div>
                                        {% comment %} {{ comment_a.total_upvote }}
                                        {% if comment_a.reactor == user %}
                                        [MY]
                                        {% endif %} {% endcomment %}
                                    {% get_comment_upvote_tf feed.id comment_b.id user.id as comment_upvote_tf %}
                                    {% if user.is_authenticated %}
                                        {% if comment_upvote_tf %}
                                            <div class="ml-auto more-btn">
                                                <a href="/feeds/{{ feed.id }}/comments/{{ comment_b.id }}/upvote">
                                                    <i class="material-icons comment-heart v-center m-auto link-grey font-red ml-1">favorite</i>
                                                </a>
                                            </div>
                                        {% else %}
                                            <div class="ml-auto more-btn">
                                                <a href="/feeds/{{ feed.id }}/comments/{{ comment_b.id }}/upvote">
                                                    <i class="material-icons comment-heart v-center m-auto link-grey ml-1">favorite_border</i>
                                                </a>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>

                        {% comment %} <!--내가쓴댓글모음(베댓이 아닌경우만)-->
                        {% get_my_comment feed.id user.id as my_comments %}
                        {% for c in my_comments %}
                            {% if c != comment_a and c != comment_b %}
                                <strong>{{ c.reactor }} </strong> {% get_side feed.id c.id %} {{ c.content }} {{ c.total_upvote }} [MY]
                            {% endif %}
                            <br>
                        {% endfor %}
                        ================
                        {% endcomment %}

                        <!--show 안으로 들어갈 부분(전체댓글)-->
                        {% if feed.feedcomment_set.count > 6 %}
                        <a href="/feeds/{{ feed.id }}">
                            <div class="font-12 link-light-black font-light mt-2">댓글 {{feed.feedcomment_set.count}}개 더보기</div>
                        </a>
                        {% else %}
                            <div class="font-12 link-light-black font-light mt-2 toggle-comments">댓글 {{feed.feedcomment_set.count}}개 더보기</div>
                            <div class="all-comments">
                                {% get_ordered_comment feed.id as comments %}
                                {% for c in comments %}
                                    {% get_side feed.id c.id as side %}
                                    <div class="comment w-100 v-center mtb-1 inline-flex">
                                        {% if side != ""%}
                                            <div class="sideicon norm"> {{ side }} </div>
                                        {% endif %}
    
                                        <div class="font-11 v-center mtb-auto comment-reactor"><strong>{{ c.reactor }}</strong></div>
                                        <div class="font-14 v-center mtb-auto comment-content ellipsis">{{ c.content }}</div>
                                            {% comment %} {{ comment_a.total_upvote }}
                                            {% if comment_a.reactor == user %}
                                            [MY]
                                            {% endif %} {% endcomment %}
                                        {% get_comment_upvote_tf feed.id c.id user.id as comment_upvote_tf %}
                                        {% if user.is_authenticated %}
                                            {% if comment_upvote_tf %}
                                                <div class="ml-auto more-btn">
                                                    <a href="/feeds/{{ feed.id }}/comments/{{ c.id }}/upvote">
                                                        <i class="material-icons comment-heart v-center m-auto link-grey font-red ml-1">favorite</i>
                                                    </a>
                                                </div>
                                            {% else %}
                                                <div class="ml-auto more-btn">
                                                    <a href="/feeds/{{ feed.id }}/comments/{{ c.id }}/upvote">
                                                        <i class="material-icons comment-heart v-center m-auto link-grey ml-1">favorite_border</i>
                                                    </a>
                                                </div>
                                            {% endif %}
                                        {% endif %}



                                        <!--for inline-flex-->
                                        {% comment %} <div class="inline-flex">
                                            <span>(좋아요: {{ c.total_upvote }}개)</span>
                                            <form action="/feeds/{{ feed.id }}/comments/{{ c.id }}/upvote" method="POST">
                                                {% csrf_token %}
                                                {% get_comment_upvote_tf feed.id c.id user.id as comment_upvote_tf %}
                                                {% if user.is_authenticated %}
                                                    {% if comment_upvote_tf %}
                                                        <input type="submit" value="좋아요 취소"/>
                                                    {% else %}
                                                        <input type="submit" value="좋아요" />
                                                    {% endif %}
                                                {% endif %}
                                            </form>
                                            {% if request.user == c.reactor %}
                                                <form action="/feeds/{{ feed.id }}/comments/{{ c.id }}/" method="POST">
                                                    {% csrf_token %}
                                                    <input type="submit" value="삭제" />
                                                </form>
                                            {% endif %}
                                        </div> {% endcomment %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <!-- 댓글쓰기 창 -->
                        {% if user.is_authenticated %}
                            <form action="/feeds/{{ feed.id }}/comments/" method="POST">
                                {% csrf_token %}
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-100">
                                    <input class="mdl-textfield__input comment-input" type="text" id="feedcomment" name="content">
                                    <label class="mdl-textfield__label" for="feedcomment">댓글을 입력하세요.</label>
                                </div>
                                <button type="submit" class="invisible">댓글 달기</button>
                            </form> 
                        {% endif %}
                            <!-- 댓글 코드 끝 -->
                    </li>
                {% else %}
                    신고가 10건 이상 접수되어 숨김처리된 게시글입니다.
                {% endif %}
            {% endfor %} 
        </div>

        {% if search_result_num == 0 %}
            <div>검색결과가 없습니다.
                {% if user.is_authenticated %}
                <a href="/feeds/new">작성하기 버튼</a>을 눌러 <strong>{{ keyword }}</strong>에 대한 
                첫번째 글을 작성해보세요!
                {% else %}
                첫번째 글을 <a href="/feeds/new">작성해보세요!</a>
                {% endif %}
            </div>
        {% else %}
            {% if feeds.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{feeds.previous_page_number}}">Previous</a>
            {% endif %}
            <span>{{feeds.number}}</span>
            <span>of</span>
            <span>{{feeds.paginator.num_pages}}</span>
        {% endif %}

        {% if feeds.has_next %}
            <a href="?page={{feeds.next_page_number}}">Next</a>
            <a href="?page={{feeds.paginator.num_pages}}">Last</a>
        {% endif %}
    </div>
</div>
{% endblock content %}