{% extends 'base.html' %}

{% block content %}
    <a href="/events">eventpage로 돌아가기</a>
    <h1>feed page</h1>
    <a href="/feeds/new">new feed</a>
    {% for feed in feeds %}

    {% if feed.editnow %}
        <div style="border: 1px solid grey;">
          <a href="/feeds/{{ feed.id }}/editoff">수정안하기</a>
          <form action="/feeds/{{feed.id}}/" method="POST">
      {% comment %} /{{ feed.id }} {% endcomment %}
          {% csrf_token %} 
          <!--csrf_token은 보안을 위해 추가하는 것임-->
          {% comment %} <p>잠김여부 : {{feed.editnow}} </p> {% endcomment %}
          {% comment %} <p>title</p> {% endcomment %}
          <input name="title" value="{{feed.title}}"/> <br />
          {% comment %} <p>content</p> {% endcomment %}
          <input name="content" value="{{feed.content}}"/> <br />
          <input type="submit" value="submit" />
        </div>
    </form>
    {% else %}

        <div style="border: 1px solid grey;">
        <a href="/feeds/{{ feed.id }}">더보기</a>
        <a href="/feeds/{{ feed.id }}/edit">수정하기</a>
        <a href="/feeds/{{ feed.id }}/editon">당장수정하기</a>
        {% comment %} <p>잠김여부 : {{feed.editnow}} </p> {% endcomment %}
        <p>{{ feed.title }}</p>
        <p>{{ feed.content }}</p>
        <a href="/feeds/{{ feed.id }}/delete" onclick="return confirm('ㄹㅇ 삭제?')">삭제</a>

      </div>
    {% endif %}

    {% endfor %} <!-- for를 end시킨다는 뜻! 여기서는 들여쓰기로 끝을 못 내니 -->
{% endblock content %}