{% extends 'base.html' %}

{% block content %}
    {% if search_msg != '' %}
    <p>
        {{ search_msg }}
    </p>
    <hr>
    {% endif %}
    <a href="/events">eventpage로 돌아가기</a>
    <h1>feed page</h1>
    <a href="/feeds/new">new feed</a>
    {% for feed in feeds %}

    {% if feed.editnow %}
        <div style="border: 1px solid grey;">
        <a href="/feeds/{{ feed.id }}/editoff">수정안하기</a>
        <form action="/feeds/{{feed.id}}/" method="POST">
    {% comment %} /{{ feed.id }} {% endcomment %}
        {% csrf_token %} 
        <!--csrf_token은 보안을 위해 추가하는 것임-->
        {% comment %} <p>잠김여부 : {{feed.editnow}} </p> {% endcomment %}
        {% comment %} <p>title</p> {% endcomment %}
        <input name="title" value="{{feed.title}}"/> <br />
        {% comment %} <p>content</p> {% endcomment %}
        A: <input name="content_a" value="{{feed.content_a}}"/> <br />
        B: <input name="content_b" value="{{feed.content_b}}"/> <br />
        <input type="submit" value="submit" />
        </div>
    </form>
    {% else %}

        <div style="border: 1px solid grey;">
        <a href="/feeds/{{ feed.id }}">더보기</a>
        <a href="/feeds/{{ feed.id }}/edit?next={{request.path}}?page={{page}}">수정하기</a>
        <a href="/feeds/{{ feed.id }}/editon">당장수정하기</a>
        {% comment %} <p>잠김여부 : {{feed.editnow}} </p> {% endcomment %}
        <p>{{ feed.title }}</p>
        <p>A: {{ feed.content_a }}</p>
        <p>B: {{ feed.content_b }}</p>
        <p>[RESULT] A : {{ feed.upvote_a }}표(?%) / B : {{ feed.upvote_b }}표(?%) </p>
        신고 : {{feed.report}}<br/>
        <a href="/feeds/{{ feed.id }}/delete" onclick="return confirm('ㄹㅇ 삭제?')">삭제</a>

    </div>
    {% endif %}
    {% endfor %} 

    {% if feeds.has_previous %}
    <a href="?page=1">First</a>
    <a href="?page={{feeds.previous_page_number}}">Previous</a>
    {% endif %}

    <span>{{feeds.number}}</span>
    <span>of</span>
    <span>{{feeds.paginator.num_pages}}</span>

    {% if feeds.has_next %}
    <a href="?page={{feeds.next_page_number}}">Next</a>
    <a href="?page={{feeds.paginator.num_pages}}">Last</a>
    {% endif %}

{% endblock content %}