{% extends 'base.html' %}

{% block content %}
    <h1>new feed</h1>
    <form action="/feeds/new/" method="POST" enctype="multipart/form-data">
      {% csrf_token %} 
      {% comment %} <input name="title" required /> <br /> {% endcomment %}
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="title" name="title">
        <label class="mdl-textfield__label" for="title">Title</label>
      </div>

<!--대칭 형태로 입력창도 UI 수정 필요-->
      <br>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="content_a" name="content_a">
        <label class="mdl-textfield__label" for="content_a">A</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="content_b" name="content_b">
        <label class="mdl-textfield__label" for="content_b">B</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="hash_tag" name="hash_tag_raw">
        <label class="mdl-textfield__label" for="hash_tag">Hash Tag (#이러한 #형태로 #입력하세요)</label>
      </div>



      {% comment %} A: <input name="content_a" size="40" required /> <br />
      <input name="img_a" type="file" /> <br />
      B: <input name="content_b" size="40" required /> <br />
      <input name="img_b" type="file" /> <br />
      HASH TAG: <input name="hash_tag_raw" placeholder="#이러한 #형태로 #입력하세요" size="30"/> <br />
{% endcomment %}
      {% comment %} <input type="submit" value="submit" />  {% endcomment %}
      <br>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
        Submit
      </button>
    </form>
{% endblock content %}
