{% extends 'base.html' %}
{% load custom_tags %}

{% block content %}

<div class="container">
  <div class="m-auto contents">
    <div class="contents-margin">
      <form action="/feeds/new/" method="POST" enctype="multipart/form-data">
        {% csrf_token %} 
        <li class="each-li">
          <div class="w-100">
            <input class="content-title w-100 feed-input-border" name="title" placeholder="제목을 입력하세요(30자 이내)" maxlength="30" required/>
            <div class="font-13 font-light">
              <input class="font-13 font-light letter-space w-100 feed-input-border" type="text" id="hash_tag" name="hash_tag_raw" placeholder="#으로 #구분하여 #한단어씩 #해시태그를 #입력하세요" />
            </div>
          </div>
          <div class="inline-flex v-center mt-1 mb-2">
            <a href="/accounts/profile/" class="link-grey">
              <div class="inline-flex">
                {% if user.profile.image.url != "/media/False" %}
                  <div class="user-face" style="background: url('{{ user.profile.image.url }}') center / cover;"></div>
                {% else %}
                  <div class="user-face" style="background: url('/static/feedpage/default_avatar.png') center / cover;"></div>
                {% endif %}
                <span class="font-12 ml-1">
                  {{user.username}}
                </span>
              </div>
            </a>
          </div>
          <!--A와 B를 함께 두는 행-->
          <div class="each-content">
            <!-- Image card A-->
            <div class="mr-1perc demo-card-image mdl-card content-img inner uploaded-a">
              <div class="content-label bg-black">
                <strong>A / </strong>
                <input type="text" class="w-80 font-15 feed-input-border font-white bg-black content_a" placeholder=" 내용(21자 이내)" name="content_a" maxlength="21" required>
              </div>
              <label for="img_a" style="height: 100%; width: 100%;">
                <div class="flex-center w-100 h-100">
                  <div class="mt-4">
                    <div>
                      <img src="/static/feedpage/empty_content_img.png" alt="empty-image" style="width: 20%;">
                    </div>
                    <div class="font-grey font-13 mt-2">
                      A 이미지
                    </div>
                  </div>
                </div>
              </label>
            </div>
            <input id="img_a" class="upload-hidden upload-a" name="img_a" type="file" accept="image/*" required/>
            <!-- Image card B-->
            <input id="img_b" class="upload-hidden upload-b" name="img_b" type="file" accept="image/*" required/>
            <div class="ml-1perc demo-card-image mdl-card content-img inner uploaded-b" >
              <div class="content-label bg-black">
                <strong>B / </strong>
                <input type="text" class="w-80 font-15 feed-input-border font-white bg-black content_b" placeholder=" 내용(21자 이내)" name="content_b" maxlength="21" required>
              </div>
              <label for="img_b" style="height: 100%; width: 100%;">
                <div class="flex-center w-100 h-100">
                  <div class="mt-4">
                    <div>
                      <img src="/static/feedpage/empty_content_img.png" alt="empty-image" style="width: 20%;">
                    </div>
                    <div class="font-grey font-13 mt-2">
                      B 이미지
                    </div>
                  </div>
                </div>
              </label>
            </div>
          </div>
          <div class="img-srch-btn" data-csrfmiddlewaretoken="{{csrf_token}}">이미지검색</div>



          {% comment %} <div class="flex-center" style="height: 80px; width: 80px; background-color: grey;">
            <label for="img_a" style="height: 80px; width: 80px;">
              A업로드
            </label>
            <input id="img_a" class="upload-hidden upload-a" name="img_a" type="file" accept="image/*" required/> <br />
          </div>
          <div class="flex-center" style="height: 80px; width: 80px; background-color: grey;">
            <label for="img_b" style="height: 80px; width: 80px;">
              B업로드
            </label>
            <input id="img_b" class="upload-hidden upload-b" name="img_b" type="file" accept="image/*" required/>
          </div>
          <br> {% endcomment %}


          <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect w-100 mt-3">
            Submit
          </button>
        </li>
      </form>
    </div>
  </div> 
</div>
{% endblock content %}
